@page
@model PrivacyModel
@{
    ViewData["Title"] = "Это Web приложение музыкального магазина Music Shop";
}

<h1>@ViewData["Title"]</h1>

<p>
    Ваше доверие важно для нас. В этой Политике конфиденциальности мы объясняем, как собираем, используем и защищаем ваши данные.
</p>

<h2>Сбор данных</h2>
<ul>
    <li>Мы можем собирать ваше имя, адрес электронной почты и другие данные, предоставленные при регистрации или использовании сайта.</li>
    <li>Файлы cookies используются для улучшения вашего опыта работы с сайтом.</li>
</ul>

<h2>Использование данных</h2>
<ul>
    <li>Данные используются для выполнения заказов, предоставления услуг и улучшения работы сайта.</li>
    <li>Мы можем отправлять вам уведомления и рекламные предложения только с вашего согласия.</li>
</ul>

<h2>Ваши права</h2>
<ul>
    <li>Вы можете запросить доступ, исправление или удаление своих данных в любое время.</li>
    <li>Вы можете отказаться от получения рекламных сообщений.</li>
</ul>

<h2>Контакты</h2>
<p>
    Если у вас есть вопросы о Политике конфиденциальности, свяжитесь с нами:
</p>
<ul>
    <li><strong>Email:</strong> support@musicshop.com</li>
    <li><strong>Телефон:</strong> +7 (999) 123-45-67</li>
</ul>


